---
import Navigation from './Navigation.astro';
---

<header class="header" role="banner">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/" class="logo-link">
                    <img src="/img/divcom-logo.png" alt="Divcom Logo" class="logo-icon">
                    <div class="logo-text">
                        <h1 class="logo-title">Module 113</h1>
                        <p class="logo-subtitle">Projet Personnel HTML/CSS</p>
                    </div>
                </a>
            </div>
            
            <Navigation />
        </div>
    </div>
</header>
