---
export interface Props {
  icon?: string;
  title: string;
  items?: string[];
  description?: string;
}

const { icon, title, items, description } = Astro.props;
---

<div class="livrable-card">
    {icon && <div class="livrable-icon">{icon}</div>}
    <h3>{title}</h3>
    {items && items.length > 0 ? (
        <ul>
            {items.map(item => (
                <li>{item}</li>
            ))}
        </ul>
    ) : (
        <p>{description}</p>
    )}
</div>
